.btn-primary-purple {
    @extend .btn; 
    background-color: $monad-purple;
    color: $white;
  
    &:hover {
      background-color: $purple-light-50;
      color: $white;
    }
  }

  .btn-primary-dark-blue {
    @extend .btn; 
    background-color: $monad-dark-blue;
    color: $white;
  
    &:hover {
      background-color: $purple-dark-50;
      color: $white;
    }
  }

  .btn-wine {
    @extend .btn; 
    background-color: $wine;
    color: $white;
  
    &:hover {
      background-color: $berry;
      color: $white;
    }
  }

  .btn-black {
    @extend .btn; 
    background-color: $black;
    color: $white;
  
    &:hover {
      background-color: $black-60;
      color: $white;
    }
  }


  //text color definations
.text-monad-purple {
    color:$monad-purple;
}

.text-monad-dark-blue {
    color:$monad-dark-blue;
}

.text-electric-ice {
    color: $electric-ice
}

.text-berry{
    color: $berry;
}

.text-wine {
    color: $wine;
}

.text-purple-light-25 {
    color: $purple-light-25;
}

.text-purple-light-50 {
    color: $purple-light-50;
}

.text-purple-dark-25 {
    color: $purple-dark-25;
}

.text-purple-dark-50 {
    color: $purple-dark-50;
}